<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Citas Médicas</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*     <link rel="stylesheet" href="~/AsistenteMedico.AppWebMVC.styles.css" asp-append-version="true" /> *@

</head>
<body class="d-flex flex-column min-vh-100">

    <header>
        <div class="header-top-color">
            <div class="container text-center">
                <h1 class="mb-1">Sistema de Citas Médicas</h1>
                <p class="lead">Clínica Médica Central</p>
            </div>
        </div>

        <nav class="bg-white shadow-sm border-bottom">
            <div class="container py-2">
                <div class="d-flex justify-content-center">

                    <a class="btn btn-outline-primary mx-1" asp-controller="Home" asp-action="Index">Dashboard</a>
                    <a class="btn btn-primary mx-1" asp-controller="Paciente" asp-action="Index">Pacientes</a>
                    <a class="btn btn-outline-primary mx-1" href="#">Citas</a>
                    <a class="btn btn-outline-primary mx-1" href="#">Médicos</a>
                    <a class="btn btn-outline-primary mx-1" href="#">Centros</a>
                    <a class="btn btn-outline-primary mx-1" href="#">Calendario</a>
                    <a class="btn btn-outline-primary mx-1" href="#">Notificaciones</a>
                    <a class="btn btn-outline-primary mx-1" href="#">Configuración</a>

                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4 flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-auto py-3 bg-light" style=" : static !important;">
        <div class="container text-center">
            &copy; 2025 - AsistenteMedico.AppWebMVC -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>