@model SearchResultPacienteDTO

@{
    ViewData["Title"] = "Index";
    var modelSearchQuery = ViewBag.SearchQuery as SearchQueryPacienteDTO;
}
<partial name="SearchQuery" model="modelSearchQuery" />
<div class="table-responsive">
<partial name="SearchResult" model="Model.Data"/>
</div>
<partial name="_Paginacion" model="modelSearchQuery" />
